{# src/Sportimini/userBundle/Resources/views/Page/about.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}

{% block title %}Giới thiệu{% endblock%}

{% block body %}
<div class="widget">
      <div class="widget-body padding-none">
         <div class="margin-none bg-white" style="padding:25px">
            <h1 class="separator bottom">Giới thiệu TeamSport.vn</h1>
            Trong cuộc sống và công việc hằng ngày, bạn luôn luôn phải đối mặt với áp lực, khó khăn, cũng như là không thể tránh được sự mệt mõi. Chúng tôi đã nắm bắt được những điều đó và tự đặt ra câu hỏi: <br>
			- Làm sao để giải phóng bản thân ra khỏi những mệt mõi, áp lực trong cuộc sống hằng ngày ?<br><br>
			TeamSport.vn: thể thao hằng ngày sẽ giúp các bạn giải quyết các vấn đề trên, ngoài ra thể thao còn mang lại vô số các lợi ích khác.<br><br>
			- Tôi không có một nhóm (hội) để cùng chơi một môn thể thao ưa thích ?<br><br>
			TeamSport.vn: website được thành lập với mục đích tạo ra một sân chơi, một cộng đồng Thể thao. Đến với TeamSport.vn các thành viên sẽ trải nghiệm những chức năng thật sự thú vị như sau:<br><br>
				+ Tạo tài khoản cá nhân, bắt đầu tham gia mạng xã hội thể thao TeamSport.vn.<br><br>
				+ Bảng kỹ năng. Tại đây, bạn sẽ đăng ký các môn thể thao ưa thích và cũng như đánh giá các kỹ năng thể thao của bạn thông qua bảng này.<br><br>
				+ Giao lưu, kết bạn với các thành viên khác trong TeamSport.vn.<br><br>
				+ Tham gia các sự kiện thể thao, gia nhập các nhóm(hội) thể thao.<br><br>
				+ Tuyệt vời hơn nữa, chính bạn cũng có thể tạo một sự kiện thể thao hoặc một nhóm(hội), và mời các thành viên khác tham gia cùng bạn.<br><br>
				+ Và sẽ còn nhiều chức năng khác đang được TeamSport.vn phát triển để phục vụ các bạn một cách tốt hơn.<br>
			Hy vọng các bạn sẽ ngày càng yêu thích và ủng hộ TeamSport.vn. 
                  
              
            
         </div>
      </div>
   </div>
         
{% endblock %}