
<!-- Modal -->
<div class="modal fade" id="modal-edit-profile">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body padding-none">

                
                <div class="invite-popup" style="height: 600px;">
                    <div class="invite-head">
                        <span>Invite to Play</span>
                            <i class="glyphicon glyphicon-remove" data-dismiss="modal"></i>
                    </div>

                    <div class="invite-content">
                        <span class="invite-title">Adress</span>
                        <div class="clearfix"></div>
                        <div>
                            <input id="editAdress" class="invite-input" type="text" placeholder="Location" />
                            <span class="date-ico"><i class="fa fa-location-arrow"></i>
                            </span>
                        </div>

                        <span class="invite-title">Phone Number</span>
                        <div class="clearfix"></div>
                        <div>
                            <input id="editPhone" class="invite-input" type="text" placeholder="Phone" />
                            
                        </div>

                        <span class="invite-title">Short personal description</span>
                        <div class="clearfix"></div>
                        <div >
                           <textarea id="editDesc" placeholder="Description">

                           </textarea>
                           
                        </div>

                        <button class="btn btn-success done" >Done</button>

                    </div>  
                </div>

            </div>
            <!-- // Modal body END -->
        </div>
    </div>
</div>
<!-- // Modal END