
<!-- Modal -->
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color">
            <!-- Modal body -->
            <div class="modal-body padding-none">
                <!-- Form Wizard / Widget Pills -->
                
                <div class="invite-popup">
                    <div class="invite-head">
                        <span>Invite to Play</span>
                            <i class="glyphicon glyphicon-remove" data-dismiss="modal"></i>
                    </div>

                    <div class="invite-content">
                        <span class="invite-title">When do you want to play</span>
                        <div class="clearfix"></div>
                        <div>
                            <input id="timePlay" class="invite-input" type="text" placeholder="Select date" />
                            <span class="date-ico"><i class="fa fa-calendar-o"></i>
                            </span>
                        </div>

                        <span class="invite-title">Where do you want to play</span>
                        <div class="clearfix"></div>
                        <div>
                            <input id="placePlayInvit" class="invite-input" type="text" placeholder="Location" />
                            
                        </div>

                        <span class="invite-title">Notification method</span>
                        <div class="clearfix"></div>
                        <div class="radio">
                           <input id="site" class="notif-method" type="radio" name="notif-method" value="site">
                           <label for="site">Via Teamsport.vn</label> 
                           <input id="sms" class="notif-method" type="radio" name="notif-method" value="sms"> 
                           <label for="sms">Via SMS (not applicable)</label> 
                           
                        </div>

                        <button class="btn btn-success done" onclick="invitePlayer();">Done</button>

                    </div>  
                </div>

                {#<div class="wizard">
                    <div class="widget margin-none border-none widget-tabs widget-wizard-pills widget-tabs-responsive">
                        <!-- Widget heading -->
                        <div class="widget-head bg-gray">
                            <ul>
                                <li class="status">
                                    <span class="r">Steper
                                        <span class="step-current">2</span> of
                                        <span
                                            class="steps-total">5</span>
                                    </span>
                                    <span class="r text-primary">Completed:
                                        <span class="steps-complete">1</span>
                                    </span>
                                </li>
                                <li class="active no-padding"><a href="#tab1-3" data-toggle="tab">1</a>
                                </li>
                                <li><a href="#tab2-3" data-toggle="tab">2</a>
                                </li>
                                <li><a href="#tab3-3" data-toggle="tab">3</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- // Widget heading END -->
                        <div class="widget-body innerAll inner-2x">
                            <div class="tab-content">
                                <!-- Step 1 -->
                                <div class="tab-pane active" id="tab1-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>{{ 'Khi nào bạn muốn chơi?'|trans }}</strong>

                                        </div>
                                        <div class="col-md-9">
                                           
                                            <div class="input-group date" id="datepicker3">
                                                 <input id="timePlay" class="col-md-6 form-control" type="text" placeholder="Select date..." />
                                                <span class="input-group-addon"><i class="fa fa-th"></i>
                                                </span>
                                            </div>
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Step 1 END -->
                                <!-- Step 2 -->
                                <div class="tab-pane" id="tab2-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>{{ 'Bạn muốn chơi ở đâu?'|trans }}</strong>

                                        </div>
                                        <div class="col-md-9">
                                            <input id="placePlayInvit"type="text" placeholder="Nhập nơi để chơi" class="form-control">                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- // Step 2 END -->
                                <!-- Step 3 -->
                                <div class="tab-pane" id="tab3-3">
                                    <h4>Làm thế nào bạn muốn thông báo?</h4>
                                   <button class="btn btn-primary btn-icon-stacked"><!--<i class="fa fa-2x fa-twitter"></i> -->
                                        <span>{{ 'Thông báo của Teamsport.vn'|trans }}</span>
                                    </button>
                                    <br /><br />
                                    <button class="btn btn-primary btn-icon-stacked"><!--<i class="fa fa-2x fa-twitter"></i> -->
                                        <span>{{ 'Nhắn tin thông báo qua SMS (chưa áp dụng)'|trans }}</span>
                                    </button>
                                </div>
                                <!-- // Step 3 END -->
                                
                            </div>
                            <!-- Wizard pagination controls -->
                           
                            <ul class="pagination margin-bottom-none pull-right">
                                <li class="primary previous"><a href="#" class="no-ajaxify">Previous</a>
                                </li>
                                <li class="next primary"><a href="#" class="no-ajaxify">Next</a>
                                </li>
                                <li class="next finish primary" style="display:none;"><a href="#" class="no-ajaxify">Finish</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <!-- // Wizard pagination controls END -->
                        </div>
                    </div>
                </div>#}
                <!-- // Form Wizard / Widget Pills END -->
            </div>
            <!-- // Modal body END -->
        </div>
    </div>
</div>
<!-- // Modal END