
<!-- Modal -->
<div class="modal fade" id="modal-rate">
    <div class="modal-dialog">
        <div class="modal-content rate-popup">
            <!-- Modal body -->
            <div class="modal-body padding-none rate-popup">

                
                <div class="invite-popup rate-popup">
                    <div class="invite-head">
                        <span>Rate</span>
                            <i class="glyphicon glyphicon-remove" data-dismiss="modal"></i>
                    </div>

                    <div class="rate-star">
                        <i id="star-1" class="fa fa-star-o" onmouseover="onStar(this);" onmouseout="outStar(this);"></i>
                        <i id="star-2" class="fa fa-star-o" onmouseover="onStar(this);" onmouseout="outStar(this);"></i>
                        <i id="star-3" class="fa fa-star-o" onmouseover="onStar(this);" onmouseout="outStar(this);"></i>
                        <i id="star-4" class="fa fa-star-o" onmouseover="onStar(this);" onmouseout="outStar(this);"></i>
                        <i id="star-5" class="fa fa-star-o" onmouseover="onStar(this);" onmouseout="outStar(this);"></i>
                    </div>
                    
                        <button class="btn btn-success add-button" onclick="sendRate();" data-dismiss="modal" style="
                                            margin-left: 205px;
                                            float: none;
                                            width: 70px;
                                        ">Done</button>
                </div>

            </div>
            <!-- // Modal body END -->
        </div>
    </div>
</div>
<!-- // Modal END