{# src/Sportimimi/userBundle/Resources/views/Page/registrationComplete.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}

{% block title %}Đăng ký thành công{% endblock%}

{% block body %}
<div style="padding:25px;font-size:14pt;border:1px solid #ccc;background:white;margin-top:15px">
    <header>
        <h2>Đăng ký thành công</h2>
    </header>

	<p
		Xin chúc mừng! Bạn đã đăng ký thành công
		<br />
		<strong>Vui lòng mở mail và làm theo hướng dẫn để kích hoạt tài khoản của bạn.</strong>
		<br />
		>>Nếu không nhận được E-mail kích hoạt, bạn vui lòng kiểm tra Hộp thư Bulk / Spam
		<br />
		>>Nếu bạn không nhận được E-mail, vui lòng đợi khoảng 15 phút và kiểm tra lại.
		<br />
		>>Nếu có bất kỳ vấn đề nào hãy liên hệ với chúng tôi
	</p>
</div>	
{% endblock %}