{% extends 'SportimimiAdminBundle::base.html.twig' %}

{% block page_title %}
Edit User: "{{ entity.username }}"
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="{{ path('sportmimi_admin_user_edit', {'id': entity.id}) }}" method="post">
            {{ form_rest(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}