/html/bundles/
/html/uploads/*
/html/media/cache/*
/web/css/*
/web/js/*
/web/assets/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/
behat.yml
parameters.yml