parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: teamsport
    database_user: root
    database_password: "Kdz-ZvQG$(#fg:"
    mailer_transport: smtp
    mailer_host: in-v3.mailjet.com
    mailer_user: cc9d88d0aed08b28d146d1723ecce4ec
    mailer_password: b06d2edd9af5f7474305e58b1bba9f16
    locale: vi
    secret: a4b83ee5213a38272ef4645561aba4d18ce8eebb
    database_path: null
    api_facebook_id:      613474805438062
    api_facebook_secret:  9d5bdb469eb0fb26060173bdd57a8712
#    api_facebook_name:    http://apps.facebook.com/teamsportvn/
    api_facebook_server:  teamsport.vn
    api_google_id: 633348232812-nqing8gv08kk9ojakeug5sc0imk7vk6e.apps.googleusercontent.com
    api_google_secret: OzAhRrlp51hDwVX3Wnb36AS7
    api_yahoo_key: dj0yJmk9WWtYNFk2NnNqRW13JmQ9WVdrOWR6VnlaMWRPTXpZbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD04Nw--
    api_yahoo_secret: 787a7eca4e5c95fb87c3de575b60404e69f09a52
    api_yahho_application_url: https://teamsport.vn
    api_yahho_server_callback: teamsport.vn