@import url("//hello.myfonts.net/count/2bb2f5");

@font-face {
    font-family: 'MuseoSlab-500';
    src: url('webfonts/2BB2F5_0_0.eot');
    src: url('webfonts/2BB2F5_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2BB2F5_0_0.woff') format('woff'), url('webfonts/2BB2F5_0_0.ttf') format('truetype');
}

.top-bar {
    height: 70px;
    background: none;

}

.flag {
    padding-top: 15px;
    opacity: 0.5;
    cursor: pointer;
}

#registerButton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.fieldRegister {
    height: 35px !important;
}

.MuseoSlab-500 {
    font-family: MuseoSlab-500;
}

.top-bar-section ul li {
    background: none;

}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
    color: black;
}

.featured-sub-desc {
    font-size: 8pt;
    color: #747474
}

#sliderHome {
}

#logos {

    padding: 40px;
}

#why-us {
    padding-bottom: 50px

}

#why-us .content {
    padding-top: 30px
}

#sign-up {
    padding-bottom: 10%;
    background: rgba(255, 255, 255, 0.5);
}

.hover-slider {
    position: absolute;
    z-index: 999;
    /* top: -100Px; */
    left: 0;
    right: 0;
    max-width: 62.5rem;
    margin-right: auto;
    margin-left: auto;

}

#footer-bar-1 {
    background: #363839;
    padding-top: 20px;
    padding-bottom: 20px;

}

#footer-bar-2 {
    background: #282a2b;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slogan1 {
    color: white;
    background-color: rgba(57, 59, 57, 0.8);
    display: inline-block;
    padding: 5px
}

.slogan2 {
    color: #fff600;
    background-color: rgba(57, 59, 57, 0.8);
    display: inline-block;
    padding: 5px;
    font-size: 11Pt
}

@media only screen and (min-width: 40.063em) {
    /* h2 {font-size:10pt!important;}*/

}

#menuNav {
    float: right;
}

@media all and (min-width: 600px) and (max-width: 1024px) {

    .logo {
        width: 200px !important;
    }

    #menuNav {
        float: none !important;

    }

}

@media all and (min-width: 1025px) and (max-width: 1399px) {

}
