.sport-ico {
	margin: 10px 25px 10px 25px;
}

.sport-label {
	margin: 0 auto;	
	text-align: center;
}

.profile-img {
	width: 115px;
}

.profile-body {
	padding: 20px 10px !important;
}

.profile-name {
	color: #999;
	font-size: 18px;
	font-weight: 600;
}

.first-row {
	color: #999;
	font-size: 16pt;
	padding: 0 6px 0 10px;
	border-left: 1px solid rgba(153, 153, 153, .5);
}

.profile-av {
	padding-right: 20px;
	width: 135px;
	height: 115px;
	float: left;
}

.profile-desc {
	max-width: 310px;
	float: left;
}

.add-button{
	width: 159px;
	float: right;
	margin-bottom: 15px;
}

.del-button{
	width: 159px;
	float: right;
}

.fa-map-marker {
	border-right: 2px solid rgba(153, 153, 153, .5);
	padding-right: 20px;
	margin-right: 20px;
}

.userrate {
	color: #FECB50;
	font-size: 20px;
}

.userrateRand {
	color: #FECB50;
	font-size: 14px;
	padding: 0 1px;
}
.rate-user {
	color: #3084C3;
	font-size: 20px;
	padding: 0 5px;	
}

i.rate-user {
	border-left: 2px solid rgba(153, 153, 153, .5);
	padding-left: 20px;
	margin-left: 20px;
}

.invite-popup {
	width: 710px;
	height: 500px;
}
.add-sport-popup {
	height: 600px;
}

.invite-head {
	height: 70px;
	background-color: #1B1E24;
	padding: 20px 30px;
}

div.invite-head span {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	float: left;
}

div.invite-head i {
	float: right;
	margin-top: 4px;
	color: #E74C3C;
	font-size: 20px;
	cursor: pointer;
}

.modal-content {
	width: 710px;
	border: none;
}

.invite-content {
	height: 710px;
	padding: 50px 30px;
}

.ico-cal {
	float: right;
}

.invite-input {
	float: left;
	width: 600px;
	height: 40px;
	border: 1px solid rgba(153, 153, 153, .5) !important;
	border-right: none; 
	font-size: 16px !important;
	padding-left: 15px;
	margin-bottom: 30px;
}

#placePlayInvit, #editPhone {
	width: 650px;
}

#editDesc {
	width: 650px;
	height: 110px;	
}

.date-ico {
	display: block;
	height: 40px;
	width: 50px;
	border: 1px solid rgba(153, 153, 153, .5);
	border-left: none; 
	font-size: 22px;
	padding: 3px 15px;
	float: right;
}

.invite-title {
	font-size: 18px;
	color: #506477;
	font-weight: 700;
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 16px;
    color: #506477;
}  

label:before {  
    content: "";  
    display: inline-block;  
  
    width: 18px;  
    height: 18px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #fff;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}

input[type=radio] {  
    display: none;  
} 

.radio label:before {  
    border-radius: 8px;  
}

.radio {
	padding-left: 0px;
}

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #069ad8;  
    font-size: 35px;  
    text-align: center;  
    line-height: 20px;  
}

.done {
	background-color: #2ECC71;
	border: none;
	margin-left: 300px;
	margin-top: 20px;
}

.sports-wrapper{
	padding: 30px;
}

.sports-content	{
	border: 1px solid rgba(153, 153, 153, .5);
	width: 650px;
	height: 380px;
	overflow:hidden;
}

.widget-jscroll{

	width: 99%;
	height: 330px;
	overflow:hidden;
}

.sports-content div.item {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 0px; 
}

.greenbox{
	border: 2px solid #2ECC71;
	background-image: url(/images/greenbox.png);
}

.rate-popup {
	width: 500px;
	height: 300px;
}

.rate-star{
	font-size: 50px;
	margin: 45px 0 40px 100px;
}

.notif-container{
	width: 370px;
	position: absolute;
	z-index: 50;
}

.notif-box{
	width: 370px;
	min-height: 70px;
	z-index: 51;
	padding: 10px;
	background-color: #1B1E24;
	border-bottom: 1px solid #282c34;
}

.notif-message {
	padding-left: 10px;
	width: 300px;
	display: block;
	float: left;
	color: #ffffff;
	font-weight: bold;
}

.notif-img {
	height: 50px;
	width: 50px;
	float: left;
}

.time-ago {
	padding-left: 60px;
	font-weight: bold;
}

.description {
	margin-top: 20px;
}

.inviteToPlay {
	margin-top: 7px;
}

.widget-left {
	border-right: 15px solid #F6F6F6;
}

.widget-pad {
	padding: 5px 20px 20px 20px;
}

.widget-bottom {
	margin: 10px 5px;
	padding: 5px 18px 20px 18px;
}

.widget-sosed {
	float: left;
	width: 630px;
	margin: 10px 5px;
	padding: 5px 18px 20px 18px;
}

.rating-symbol {
	color: #FECB50;
	font-family: "FontAwesome";
	margin-right: 2px;
}

.glyphicon-star:before {
	content: "\f005";
}

.glyphicon-star-empty:before {
	content: "\f006";
}

.comment-img {
	width: 80px;
	float: left;
}

.comment-info {
	width: 430px;
	float: left;
}

.comment-rate {
	font-size: 16px;
}

.comment-text{
	margin-top: 15px;
}

.single-comment {
	padding: 15px 0;
	border-bottom: 1px solid rgba(153, 153, 153, .5);
}

.img-comment {
	width: 70px;
	height: 70px;
}

.comment-name {
	color: #5e5e5e;
	font-size: 18px;
	font-weight: 600;
}

.comment-send {
	margin-top: 20px;
}

.btn-sendcomment {
	margin-top: 10px;
}

.friend-img {
	height: 90px; 
	width: 90px;
	display: block;
	margin: 0 auto;
}

.fr-sport-item {
	float: left;
	margin: 3px 5px;
	font-size: 16px ;
}

.friend-sports {
	margin-top: 7px;
}

.friend-profile {
	width: 150px;
	float: left;
	text-align: center;
	border-bottom: 20px solid rgba(0,0,0, 0)
}

.widgets-bottom {
	margin: 10px 5px !important;
}

.shop-image {
	margin: 10px 0;
	width: 100%;
	position: relative;
}

.shop-img {
	margin: 0;
	width: 100%;
	position: relative;
}

.shop-on-img{ 
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

.shop-title {
	display: block;
	width: 100%;
	color: #ffffff;	
	background: rgba(0, 0, 0, 0.7);
	padding: 5px 10px;
	font-size: 16px; 
	height: 50px;
}
.nav-item {
	float: left;
	height: 35px;
	padding: 10px 10px 50px 10px;
	padding-bottom: 5px;

}

div.nav-item a {
	color: #5e5e5e;
	font-size: 16px;
}

.games-ico {
	border: 0px solid #ffffff;
	margin: 5px;
	padding: 5px;
}

.btn-comment, .btn-games {
	cursor: pointer;
}

.game-item {
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	margin-right: 20px !important;
}