{% extends 'SportimimiuserBundle::layout.html.twig' %}

{% block body %}
Just tests
<form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" />
    </form>

{% endblock %}