{% extends "FOSUserBundle::layout.html.twig" %}
{% block stylesheets_include %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>

{% endblock %}
{% block fos_user_content %}

    <div class="row">
        <div class="small-12 medium-6 large-6 small-centered medium-centered large-centered columns"
             style="padding-top:100px;padding-bottom:100px">

            {% if error %}
                <div style="color:red">{{ 'Email hoặc mật khẩu sai'|trans }}</div>
            {% endif %}

            {% include '@FOSUser/Security/login_content.html.twig' %}
        </div>
    </div>
{% endblock fos_user_content %}