{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="innerLR">
    <div class="widget widget-heading-simple widget-body-white" style="margin-top:10px">
        <div class="widget-body">
         <h3>Thiết lập lại mật khẩu của bạn</h3>
            <p>
Một liên kết để thiết lập lại mật khẩu của bạn đã được gửi đến email của bạn. Vui lòng kiểm tra email của bạn. 
<br />
Nhớ kiểm tra thư mục thư rác của bạn nếu bạn không thấy email. Cảm ơn bạn
</p>
        </div>  
    </div>
</div>

{% endblock %}
