{% extends 'SportimimiAdminBundle::base.html.twig' %}

{% block page_title %}
    Create new "Place"
{% endblock %}

{% block main_content %}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" action="{{ path('sportmimi_admin_place_new') }}" method="post">
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}